/* Styles */

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #809D3C;
    color: #F4FFC3;
}

body .title {
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

body #output {
    font-size: x-large;
    margin-bottom: 30px;
    font-weight: lighter;
}

body #output h5 {
    font-size: large;
    margin-bottom: 30px;
    font-weight: lighter;
}

body div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body div .btn {
    border: 2px solid #5D8736;
    background-color: #A9C46C;
    color: #5D8736;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    margin: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

body div .btn:hover {
    border: 2px solid #A9C46C;
    background-color: #5D8736;
    color: #A9C46C;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    cursor: pointer;
}