/* Styles */

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #3E7B27;
    color: #EFE3C2;
}

body .title {
    text-decoration: underline;
    font-style: italic;
}

body #output {
    font-size: x-large;
    margin-bottom: 30px;
}

body div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body div .btn {
    border: 2;
    border-color: #123524;
    background-color: #85A947;
    color: #123524;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    margin: 10px;
}

body a .btn {
    border: 2;
    border-color: #123524;
    background-color: #85A947;
    color: #123524;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    margin: 10px;
}