/* Styles */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #DF9755;
    color: #EDF4C2;
}

body .title {
    text-decoration: underline;
}

body div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body div a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
}

body div a button {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin: 10px;
    color: #EB5A3C;
    border: 2;
    border-color: #EB5A3C;
    background-color: #E7D283;
    font-size: large;
}