/* Styles */

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: #48A6A7;
    color: #F2EFE7;
}

body .title {
    text-decoration: underline;
    font-style: italic;
}

body #output {
    font-size: x-large;
    margin-bottom: 30px;
}

body div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body div .btn {
    border: 2;
    border-color: #2973B2;
    background-color: #9ACBD0;
    color: #2973B2;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    margin: 10px;
}

body a .btn {
    border: 2;
    border-color: #2973B2;
    background-color: #9ACBD0;
    color: #2973B2;
    font-size: large;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    margin: 10px;
}